@media (max-width: 1480px) {
  .imagen-encabezado-1 {
    transform: scaleX(-1);
    width: 222px;
  }

  .imagen-encabezado-2 {
    width: 222px;
  }

  .imagen-titulo {
    padding: 10px;
    width: 355.391px;
  }
  .video-presentacion {
    width: 500px;
  }
}

@media (max-width: 766px) {
  .imagen-encabezado-1 {
    transform: scaleX(-1);
    width: 0;
  }

  .imagen-encabezado-2 {
    width: 0;
  }

  .imagen-titulo {
    padding: 10px;
    width: 355.391px;
  }
  .video-presentacion {
    width: 400px;
  }
}